In [4]:
# Importing Libraries for Data Analysis and Visualization

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import wordcloud
import nltk
import re
import string
import spacy

sns.set_theme()
%matplotlib inline

import warnings as w
w.filterwarnings('ignore')

In [6]:
airline_df = pd.read_csv('airline_df_cleaned.csv')
airline_df.head(10)

,Airline,Country,Review,Date_Published,Type of Traveller,Seat Type,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value for Money,Recommended,Origin,Destination,Sentiment
0,Air China,China,los angeles to beijing return. food low qualit...,2012-01-30,Solo Leisure,Economy Class,3,2,2,1,1,3,0,Beijing,Xi'an,Negative
1,Air China,China,round to trip from hong kong to munich. the ma...,2012-01-31,Solo Leisure,Economy Class,1,3,1,1,1,3,0,Beijing,Xi'an,Negative
2,Air China,China,sydney to beijing to paris then rome to beijin...,2012-02-03,Solo Leisure,Economy Class,2,3,1,2,1,3,0,Beijing,Xi'an,Negative
3,Air China,China,london to sydney return via beijing. a cheap f...,2012-02-22,Solo Leisure,Economy Class,4,1,2,4,3,4,0,Beijing,Xi'an,Negative
4,Air China,China,beijing to shanghai. only one check to in desk...,2012-02-28,Solo Leisure,Economy Class,4,4,3,3,3,4,1,Beijing,Xi'an,Positive
5,Air China,China,stockholm to bangkok via beijing. return fligh...,2012-03-13,Solo Leisure,Economy Class,2,1,1,1,1,3,0,Beijing,Xi'an,Negative
6,Air China,China,vancouver to hong kong via beijing. seating wa...,2012-03-19,Solo Leisure,Economy Class,4,3,4,4,3,4,1,Beijing,Xi'an,Positive
7,Air China,China,vancouver to beijing return in economy. my veg...,2012-03-21,Solo Leisure,Economy Class,3,4,4,3,3,4,1,Beijing,Xi'an,Positive
8,Air China,China,hong kong to bjs on a321. old looking plane bu...,2012-03-26,Solo Leisure,Economy Class,4,4,3,2,4,4,1,Beijing,Xi'an,Positive
9,Air China,China,dus to beijing to manila return. 2.5 hours del...,2012-03-26,Solo Leisure,Economy Class,3,1,2,3,2,2,0,Beijing,Xi'an,Negative

In [7]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15203 entries, 0 to 15202
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 15203 non-null  object
 1   Country                 15203 non-null  object
 2   Review                  15203 non-null  object
 3   Date_Published          15203 non-null  object
 4   Type of Traveller       15203 non-null  object
 5   Seat Type               15203 non-null  object
 6   Seat Comfort            15203 non-null  int64
 7   Cabin Staff Service     15203 non-null  int64
 8   Food & Beverages        15203 non-null  int64
 9   Inflight Entertainment  15203 non-null  int64
 10  Ground Service          15203 non-null  int64
 11  Value for Money         15203 non-null  int64
 12  Recommended             15203 non-null  int64
 13  Origin                  14956 non-null  object
 14  Destination             14994 non-null  object
 15  Sentiment               15203 non-null  object
dtypes: int64(7), object(9)
memory usage: 1.9+ MB

In [8]:
airline_df.describe(include='all')

,Airline,Country,Review,Date_Published,Type of Traveller,Seat Type,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,Value for Money,Recommended,Origin,Destination,Sentiment
count,15203,15203,15203,15203,15203,15203,15203.000000,15203.000000,15203.000000,15203.000000,15203.000000,15203.000000,15203.00000,14956,14994,15203
unique,19,9,15202,3718,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730,711,2
top,Emirates,India,trip verified very attentive staff at airport ...,2015-01-14,Solo Leisure,Economy Class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delhi,Mumbai,Positive
freq,2263,3636,2,39,6218,11368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1175,1021,8905
mean,NaN,NaN,NaN,NaN,NaN,NaN,3.370979,3.502204,3.148655,3.227587,3.074854,3.365586,0.58574,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1.376109,1.547916,1.475227,1.389971,1.549448,1.527154,0.49261,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,0.00000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,1.00000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,5.000000,4.000000,4.000000,4.000000,5.000000,1.00000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.00000,NaN,NaN,NaN

In [10]:
for i in airline_df.columns:
    print(i, airline_df[i].unique())

Airline ['Air China' 'Air India' 'Air India Express' 'Airasia India'
 'Ana All Nippon Airways' 'China Eastern Airlines'
 'China Southern Airlines' 'Emirates' 'Goair' 'Indigo Airlines'
 'Japan Airlines' 'Jet Airways' 'Korean Air' 'Lion Air' 'Qatar Airways'
 'Singapore Airlines' 'Spicejet' 'Vietjetair' 'Vistara']
Country ['China' 'India' 'Japan' 'UAE' 'South Korea' 'Indonesia' 'Qatar'
 'Singapore' 'Vietnam']
Review ['los angeles to beijing return. food low quality staff appeared when time for mandatory service large screen viewing on main bulkhead without sound on both trips. they were older 747s. it seems staff had something to say at irregular intervals making it hard to try and sleep but they were very good at making business transactions ignoring everyone so they could count money and look at receipts. you want a cheap very basic airline trip to china then this is the airline for you.'
 'round to trip from hong kong to munich. the main reason for flying air china was no surprises the price and that was also the best and only good thing about the flight. the food was atrocious the plane worn out and the so to called entertainment system awful. the bathrooms were bad. conclusion everyone has their own priorities but next time i will pay extra to fly another airline.'
 "sydney to beijing to paris then rome to beijing to sydney for a family holiday. that is four 12hr flights. as others have said price is the only advantage of this airline 1500 aud return to europe from australia during new year . the plane's facilities were poorly maintained seat cushions slip at awkward angles tv screen falling apart or not working poor selection of entertainment toilets unkempt and food that was difficult to stomach . however it was mainly the other passengers that made it worse to yelling clearing their throats loudly rude to staff jamming their seats up and down violently and worst of all leaving the toilets a mess. perhaps a single 12hr flight would have been tolerable but 2 of them in a row was insufferable."
 ...
 'trip verified i recently took a trip to srinagar and on my way back lost my phone at the airport just a while before the boarding. i panicked to find my phone everywhere which was noted by one of the vistara airport staff named tabasshum who without any questions helped us look for our phone. another of the airport staff member suhaib also helped us a lot to find our phone. both of these members helped us incredibly and sent us our phone back to mumbai within 24hrs. they were constantly in touch with us till we got our phone and helped us with all the formalities procedures to get the phone. we are very grateful to to both vistara airlines and specially grateful to these to staff members suhaib and tabasshum from srinagar airport. we really appreciate these kind efforts. and wish to fly again with vistara airlines.'
 'not verified as i am a tall person it was a bit uncomfortable for me and hence there was no option for legroom but compared to other flights i have seen my experience was also quite good. i hope you will increase the flights from delhi to raipur. it was helpful to me after thanks for the good service.'
 'trip verified i was traveling from dubai to ahmedabad connecting mumbai airport. on mumbai airport my bag was damaged i forgot my luggage on arrival waiting lounge and went directly to vistara desk where miss pooja helped me a lot i really appreciate it because i was extremely tired on that moment but she really made transition very swift easy. my first preference would be vistara.']
Date_Published ['2012-01-30' '2012-01-31' '2012-02-03' ... '2022-04-17' '2022-06-05'
 '2023-03-28']
Type of Traveller ['Solo Leisure' 'Business' 'Couple Leisure' 'Family Leisure']
Seat Type ['Economy Class' 'Business Class' 'First Class' 'Premium Economy']
Seat Comfort [3 1 2 4 5]
Cabin Staff Service [2 3 1 4 5]
Food & Beverages [2 1 3 4 5]
Inflight Entertainment [1 2 4 3 5]
Ground Service [1 3 4 2 5]
Value for Money [3 4 2 5 1]
Recommended [0 1]
Origin ['Beijing' 'Lhr' 'Pek' 'Lax' 'S' 'Melbourne' 'Geneva' 'Phuket' nan
 'Bangkok' 'Syd' 'Incheon' 'Guilin' 'Hkg' 'Shanghai' 'London heath'
 'Frankfurt' 'Fra' 'Yul' 'Sfo' 'Jfk' 'Mel' 'London' 'Hong kong' '{vg'
 'Pvg' 'Nrt' 'Bkk' 'Mnl' 'Hel' 'Isb' 'Yvr' 'Yyc' 'Hnd' 'Vie' 'Akl' 'Icn'
 'Can' 'Sgn' 'Ctu' 'Del' 'Dus' 'Bud' 'Iah' 'Ewr' 'Sha' 'Kul' 'Fco' 'Hkt'
 'Sydney' 'Cdg' 'Sin' 'Hgh' 'Nkm' 'Cph' 'Uln' 'Bcn' 'Gmp' 'Hrb' 'Hnl'
 'Tpe' 'Xiy' 'Khn' 'Iad' 'Vienna' 'San francisco' 'Chengdu' 'Delhi'
 'Los angeles' 'Warsaw' 'Hailaer' 'Ho chi minh city' 'Barcelona'
 'Ho chi minh' 'New' 'Moscow' 'Shenzhen' 'Hcmc' 'Mumbai' 'Singapore'
 'Johannesburg' 'Zhengzhou' 'Manila' 'Xiamen' 'Shenyang' 'Vancouver'
 'Taipei' 'Xining' 'Washing' 'Guangzhou' 'Newark' 'Hous' 'Auckland'
 'Seoul' 'Osaka' 'Paris' 'Dehli' 'Tianjin' 'Jilin' 'Seoul gimpo'
 'Montreal' 'San jose' "Xi'an" 'Madrid' 'Jakarta' 'Paris cdg' 'Panama'
 'Hangzhou' 'Budapest' 'Copenhagen' 'Munich' 'Oslo' 'Islamabad' 'Milan'
 'Phnom penh' 'Zurich' 'Johannesburgh' 'Chicago' 'Bom' 'Dubai' 'Kathmandu'
 'Ord' 'Bhx' 'Chennai' 'Lko' 'Heath' 'Rgn' 'Bangalore' 'Ccu' 'Ruh' 'Maa'
 'Hyd' 'Goi' 'Dxb' 'Udr' 'Bxh' 'Cms' 'Vns' 'Amd' 'Ixb' 'Bho' 'Ktm' 'Ixc'
 'Bbi' 'Mxp' 'Gay' 'Colombo' 'Goa' 'Bhubaneswar' 'Bhopal' 'Kolkata'
 'New delhi' 'Birmingham' 'Guwahati' 'Vadodara' 'Kochi' 'Riyadh'
 'Amritsar' 'Hyderabad' 'Raipur' 'Chandigarh' 'Dehi' 'Ahmedabad' 'Pune'
 'Pantnagar' 'Coimba' 'Jaipur' 'Surat' 'Bengaluru' 'Male' 'Leh' 'Sagwon'
 'Dehradun' 'Lucknow' 'Ranchi' 'Dimapur' 'Varanasi' 'Tel aviv' 'Muscat'
 'Udaipur' 'Agartala' 'Dibrugarh' 'Cochin' 'Mangaluru' 'Kalaburagi'
 'Tirupati' 'Doha' 'Thiruvananthapu' 'Gorakhpur' 'Kozhikode' 'Patna'
 'Kuwait' 'Visakhapatnam' 'Bhubaneshwar' 'Jammu' 'Sanfransico' 'Srinagar'
 'Mumbai parun' 'Narita' 'Gatwick' 'Trivandrum' 'Ccj' 'Sharjah' 'Madurai'
 'Indore' 'Mangalore' 'Bikaner' 'Abu dhabi' 'Kannur' 'Tiruchirapalli'
 'Jai' 'Vtz' 'Blr' 'Vishakhapatnam' 'Bagdogra' 'Tulihal' 'Osaka kansai'
 'Sjc' 'Cgk' 'Haneda' 'Osa' 'Fuk' 'Bru' 'Xmn' 'Sea' 'Itm' 'Kix' 'Aus'
 'Tak' 'Vce' 'Kuala lumpur' 'Sappo' 'Okayama' 'Mexico city' 'Usa'
 'Nagasaki' 'Bombay' 'Kansai' 'Nagoya' 'New chi' 'Brussels' 'Hi'
 'Honolulu' 'Naha' 'Yangon' 'Okinawa' 'Perth' 'Itami' 'Fukuoka'
 'Okinawa naha' 'Dhaka' 'Yantai' 'Xian' 'Wuhan' 'Linyi' 'Nanjing' 'Cmb'
 'Szx' 'Yyz' 'Cgq' 'Pnh' 'Nkg' 'Ams' 'Wuz' 'Oka' 'Kunming'
 'Shanghai pudong' 'Amsterdam' 'Dps' 'Baoshan' 'Chiang mai'
 'Shanghai hongqiao' 'Diqing' 'Edmon' 'Hohhot' 'Krabi' 'Prg'
 'Denpasar bali' 'Cebu' 'Denpasar' 'Taiyuan' 'Hong hong' 'Ordos'
 'Guanghzou' 'Hongqiao' 'Ckg' 'Qingdao' 'Xnn' 'Bali' "Shenzhen bao'an"
 'Mru' 'Dunhuang' 'Zhanjiang' 'Per' 'Nng' 'Tna' 'She' 'Bne' 'Lxa' 'Hak'
 'Tsn' 'Foc' 'Svo' 'Nbo' 'An' 'Phn' 'Sjw' 'Het' 'Zuh' 'Cnx' 'Hfe' 'Vyr'
 'Cgo' 'Kmg' 'Csx' 'Tao' 'Ngb' 'Wuh' 'Nny' 'Chc' 'Pqc' 'Wnz' 'Dlc' 'Afo'
 'Sanya' 'Wenzhou' 'Nanchang' 'Shenzen' 'Ningbo' 'Brisbane' 'Changsha'
 'Nanning' 'Dalian' 'Chongqing' 'Bankok' 'Hefei' 'Christchurch' 'Haikou'
 'Kota kinabalu' 'Harbin' 'Jinan' 'Cz344' 'Langkawi' 'Heifei' 'Yinchuan'
 'Guangdong' 'Vientiane' 'Xuzhou' 'Adelaide' 'Zhuhai' 'Urumchi' 'Hanoi'
 'Changzhou' 'Zhegzhou' 'Guiyang' 'Urumqi' 'Kwe' 'Ürümqi' 'Guangzou'
 'Nha trang' 'Jieyang' 'Changchun' 'Mexico' 'Yangzhou' 'Meixian' "Xi'ning"
 'Nai' 'Fuzhou' 'Chistchurch' 'Los angela' 'Jinghong' 'Shijiazhuang'
 'Guang zhou' 'Cai' 'Zürich' 'Dublin' 'Jfk new' 'Kochin' 'Glasgow'
 'Turkey' 'Manchester' 'Cape' 'Karachi' 'London gatwick' 'Venice' 'Nce'
 'Bos' 'Arn' 'Luanda' 'Jnb' 'Athens' 'Beirut' 'Adl' 'Dammam' 'Bah' 'Doh'
 'Cpt' 'Lisbon' 'Nyc' 'Lgw' 'Gva' 'Gla' 'Dfw' 'Mco' 'Lis' 'Newcastle'
 'Jeddah' 'Dur' 'Ncl' 'Man' 'Khi' 'Lusaka' 'Lun' 'Acc' 'Muc' 'Mad' 'Ham'
 'Kwi' 'Ist' 'Cmn' 'Mct' 'Osl' 'Dmm' 'Zrh' 'Dub' 'Eze' 'Jed' 'Gig' 'Mle'
 'Waw' 'Ath' 'Otp' 'Sav' 'Seattle' 'Larnaca' 'Seychelles' 'Dusseldorf'
 'Khar' 'Malta' 'Mauritius' 'Bahrain' 'Istanbul' 'Malé' 'L' 'Bologna'
 'Hamburg' 'Amman' 'Det' 'Fort lauderdale' 'Düsseldorf' 'Ft lauderdale'
 'Atlanta' 'Dallas' 'Zagreb' 'Santiago' 'Maldives' 'Durban' 'Entebbe'
 'Orlando' 'Stansted' 'Odessa' 'Prague' 'Addis ababa' 'Algiers' 'Krakow'
 'Edinburgh' 'New dehli' 'Tehran' 'London stansted' 'Saint' 'Bruxelles'
 'Tunisia' 'Johannesbug' 'Sao paulo' 'Bergen' 'Adélaïde' 'Dallas ft worth'
 'Peshawar' 'Conakry' 'Miami' 'United states' 'St petersburg'
 'Kempegowda bengaluru' 'Nagpur' 'Kolkatta' 'Port blair' 'Chandigargh'
 'Ahmadabad' 'Pnq' 'Cok' 'Ixj' 'Ixr' 'Vishakapatnam' 'Tu' 'Vadadora'
 'Kolhapur' 'Vishakapatanam' 'Thiruvananthapuram' 'Tuticorin' 'Chandighar'
 'Belgaum' 'Mysore' 'Vododhara' 'Imphal' 'Rajkot' 'Tiruchirappalli'
 'San diego' 'Helsinki' 'San' 'Han' 'Hkd' 'Cts' 'Las vegas' 'Busan'
 'Narita,' 'Chi' 'Singapore changi' 'Akita' 'Osaka itami' 'Tan son nhat'
 'Bankgok' 'Bhj' 'Auh' 'Ajl' 'Rpr' 'Jodhpur' 'Bhuj' 'Msp' 'Pdx' 'Tlv'
 'Ngo' 'Gru' 'Ulaanbaatar' 'Seoul incheon' 'Bali denpasar' 'Jeju island'
 'Jeju' 'Irkutsk' 'Fiji' 'Kupang' 'Nias' 'Makassar' 'Sub' 'Lop' 'Bdo'
 'Bdj' 'Solo' 'Bandar lampung' 'Lombok' 'Bandung' 'Jambi' 'Surabaya'
 'Pekanbaru' 'Jogjakarta' 'Banjarmasin' 'Batam' 'Pontianak' 'Berau'
 'Labuan bajo' 'Medan' 'Banda aceh' 'Bengkulu' 'Sibolga' 'Yahukimo'
 'Jayapura' 'Malang' 'Semarang' 'Jakatrta' 'Ujung pandang' 'Berlin' 'Tif'
 'Dubai dwc' 'Crk' 'Edi' 'Philadelphia' 'Phl' 'Jinnah int' 'Dar es salam'
 'Bucharest' 'Dwc' 'Txl' 'Saw' 'Bey' 'Gyd' 'Hbe' 'Amm' 'Pen' 'Psa' 'Zag'
 'Sao' 'Sof' 'Las' 'Ika' 'Atl' 'Tun' 'Taif' 'Medina' 'Tunis' 'Luxor'
 'Sofia' 'Baku' 'Belgrade' 'Berlin tegel' 'London heatrhow' 'Lagos'
 'Salalah' 'Kiev' 'São paulo' 'Mapu' 'Marrakech' 'Tbilisi' 'Kigali'
 'Canberra' 'Ankara' 'Mahé, seychelles' 'Cardiff' 'Najaf' 'Clark'
 'Zanzibar' 'Sarajevo' 'Gothenburg' 'Penang' 'Calicut' 'Dar es salaam'
 'Nice' 'Mahe' 'Pisa' 'Kyiv' 'Lahore' 'Tblisi' 'Sulaymaniyah' 'Erbil'
 'Zvartnots' 'Mogadishu' 'Casablanca' 'Kozikhode' 'Dallas fort worth'
 'Bodrum' 'Malaga' 'Lagos, nigeria' 'Brisibane' 'Thailand' 'Franfurt'
 'Mic' 'Dac' 'Wlg' 'Cbr' 'Bk' 'Dme' 'München' 'Welling' 'Davao' 'Danang'
 'Siem reap' 'Da nang' 'London heah' 'Atq' 'Ixz' 'Ded' 'Ixe' 'Ixg' 'Vga'
 'Ixm' 'Cochi' 'Gauhati' 'Jaisalmer' 'Hubli' 'Kanpur' 'Adampur'
 'Trivendrum' 'Silchar' 'Dharamsala' 'Dharamshala' 'Shirdi' 'Vijayawada'
 'Guwahat' 'Jabalpur' 'Nashik' 'Ras al khaimah' 'Varansi' 'Gwalior'
 'Durgapur' 'Darbhanga' 'Bhavnagar' 'Ajmer' 'Kolkata (ccu)' 'Calcutta'
 'Belagavi' 'Portblair' 'Nhat trang' 'Saigon' 'Dad' 'Hui' 'Cxr' 'Hph'
 'Phu quoc' 'Hue' 'Nhatrang' 'Buon ma thuot' 'Chu lai' 'Thanh hoa'
 'Chiangmai' 'Dalat' 'Hi chi minh city' 'Chiang rai' 'Hai phong'
 'Cam ranh' 'Huế' 'Kaohsiung' 'Buon ma thuat' 'Japan' 'Taichung' 'Cát bi'
 'Can tho' 'Udon thani' 'Khon kaen' 'Hat yao' 'Phuo quoc'
 'Ho chi ming city' 'Ho chi mihn city' 'Kohnkaen' 'Surat thani' 'Da lat'
 'Ho chi min city' 'Vinh' 'Hi chi minh' 'Bbo' 'Gau' 'Katmandu'
 'London, uk' 'Sxr']
Destination ["Xi'an" 'Hnd' 'London' 'Sfo' 'Chongqing' 'Shenyang' 'N' 'Shanghai'
 'Chengdu' 'Jfk' 'Beijing' 'Tpe' 'Paris' 'Sydney' 'Hefei' 'Hkg'
 'Hong kong' 'Ctu' 'Tsn' 'Bangkok' 'Rk' 'Xiy' 'Bkk' 'Hrb' 'Mfm' 'Mel'
 'Fco' 'Shangai' 'Manila' 'Fra' 'Can' 'Lhr' 'Lax' 'Syd' 'Hgh' 'Hkt' 'Muc'
 'Sgn' 'Pek' 'Mnl' 'Cgq' 'Icn' 'Del' 'Nrt' 'Bom' 'Sha' 'Bcn' 'Sin' 'Kix'
 'Yvr' 'Cdg' 'Szx' 'Akl' 'Cnx' 'Vie' 'Iad' 'Uln' 'Frankfurt' 'Gva' 'Svo'
 'Iah' 'Hav' 'Arn' 'Khn' 'Ngo' 'Ewr' 'Ckg' 'Pvg' 'Kwl' 'Wnz' 'Cgk' 'Tao'
 'Dus' 'Yul' nan 'Yangon' 'Munich' 'Madrid' 'Newark' 'Vienna' 'Vancouver'
 'Milan' 'Los angeles' 'Auckland' 'Ckholm' 'Phuket' 'Delhi' 'Montreal'
 'Singapore' 'Shenzhen' 'Moscow' 'Harbin' 'Mumbai' 'Ulaanbaatar'
 'Honolulu' 'Geneva' 'Yinchuan' 'Warsaw' 'Frankfurt vua beijing' 'Xining'
 'San francisco' 'Soul' 'Chiang mai' 'Guangzhou' 'Dulles' 'New delhi'
 'Melbourne' 'Osaka' 'Brisbane' 'Xian' 'Rk jfk' 'Wuhan' 'Narita' 'Seoul'
 'Kuala lumpur' 'Ho chi minh city' 'Bombay' 'Karachi' 'Bejing' 'Taipei'
 'Qingdao' 'Hanoi' 'Beinjing' 'Johannesburg' 'Hangzhou' 'Changsha'
 'Jakarta' 'Montréal' 'Me' 'Islamabad' 'Ngyang' 'Fukuoka' 'Phnom penh'
 'Barcelona' 'Wenzhou' 'Ng' 'Kathmandu' 'Kansa' 'Dubai' 'Leh' 'Goi'
 'Amritsar' 'Chennai' 'Bangalore' 'Cochin' 'Chicago' 'Mumbai return'
 'Srinagar' 'Hyd' 'W' 'Ccu' 'Silchar' 'Dxb' 'Blr' 'Jdh' 'Nag' 'Cok' 'Atq'
 'Maa' 'Ord' 'Auh' 'Bbi' 'Cjb' 'Ajl' 'Lko' 'Bdq' 'Vns' 'Amd' 'Goa'
 'Birmingham' 'Lucknow' 'Kolkata' 'Guwahati' 'Varanasi' 'Bhubaneswar'
 'Srinagar (kashmir)' 'Kulu' 'Hyderabad' 'Raipur' 'Dhaka' 'Colombo'
 'Bhopal' 'Ahmedabad' 'Bengaluru' 'Dammam' 'Trivandrum' 'Paris cdg'
 'Copenhagen' 'Rajkot' 'Vadodara' 'Najaf' 'Jaipur' 'Calicut' 'Kochi'
 'Madurai' 'Dehradun' 'Visakhapatnam' 'Bhubneshwar' 'Indire' 'Agartala'
 'Male' 'Thiruvananthapuran' 'Ahmadabad' 'Diu' 'Cjicagpo' 'Ranchi'
 'Nagpur' 'Bagdogra' 'Udaipur' 'Muscat' 'Ahemdabad' 'Belagaum' 'Australia'
 'Jeddah' 'Indore' 'Kerala' 'Jammu' 'Surat' 'Port blair' 'Chenna' 'Nepal'
 'Calgary' 'Mangalore' 'Bi' 'Tel aviv' 'Aurangabad' 'London gatwick'
 'San fransisco' 'Pune' 'Abu dhabi' 'Sharjah' 'Doha' 'Chandigarh'
 'Thiruvananthapuram' 'Trichy' 'Pnq' 'Gau' 'Jai' 'Banglore' 'Kolkota'
 'Haneda' 'Itm' 'Winnipeg' 'Hkd' 'Isg' 'Dlc' 'Ngs' 'Myj' 'Sjc' 'Oka' 'Kul'
 'She' 'Mexico city' 'Naha' 'Okinawa' 'San jose' 'Hokkaido' 'Dusseldorf'
 "Chicago o'hare" 'Ishigaki' 'Aomori' 'Hnl' 'Saigon' 'Hong hong' 'Seattle'
 'London heathrw' 'Perth' "Chicago o'hare (ord)" 'N dc' 'Osaka itami'
 'Pvg return' 'Jiuzhaighou' 'Jzh' 'Denpasar' 'Nanjing' 'Kmg' 'Pus'
 'Cdg pvg' 'Wuh' 'Yyz' 'Nkg' 'Pnh' 'Ams' 'Fsz' 'Hfe' 'Dyg' 'Zuh' 'Rep'
 'Lijiang' 'Kansai' 'Baoshan' 'Fuzhou' 'Kunming' 'Wux' 'Ho chi minh'
 'Chaoshan' 'Cebu' 'Shanghai pudong' 'La' 'New zealand' 'Dongying'
 'Amsterdam' 'Siem reap' 'Taiyuan' 'Budapest' 'Luoyang'
 'Qingdao vua shanghai' 'Cgo' 'Shenzen' 'Jinan' 'Mudanjiang' 'Urumqi'
 'Dps' 'Bne' 'Ktm' 'Zuhai' 'Per' 'Tna' 'Foc' 'Zhuhai' 'Hak' 'C an' 'Sjw'
 'Csx' 'Nbo' 'Chc' 'Zha' 'Cxr' 'Mdg' 'Yyc' 'Adl' 'Tianjin' 'Christchurch'
 'Adelaide' 'Osaka kansai' 'Dalian' 'Bali' 'Haikou' 'Guiyang' 'Baku'
 'Wuxi' 'Beihai' 'Nha trang' 'Sanya' 'Vientiane' 'Nanning'
 'Shanghai hongqiao' 'Los ángeles' 'Kota kinabalu' 'Yuncheng' 'Almaty'
 'Denpasar bali' 'Zhengzhou' 'Changzhou' 'Sdyney' 'Busan' 'Cairns'
 'Seoul incheon' 'Changchun' 'Guanhzhou' 'Lanzhou' 'Phu quoc' 'Nah trang'
 'Xiamen' 'Langkawi' 'Yangzhou' 'Bengaluru, india' 'Manchester' 'Nice'
 'Dmm' 'Kuwait' 'Waw' 'Algiers' 'Bhx' 'Mauritius' 'Oslo' 'Kuala lumper'
 'Johanesburg' 'Zurich' 'Bahrain' 'Dallas' 'Cpt' 'Wn' 'Dme' 'Gatwick'
 'Lgw' 'Vce' 'Man' 'Std' 'Kwi' 'Khi' 'Add' 'Mxp' 'Doh' 'Lhe' 'Jnb' 'Bos'
 'Mru' 'Dar' 'Orlando' 'Cmb' 'Jed' 'Cph' 'Ncl' 'Gla' 'Sea' 'Mct' 'Pty'
 'Dub' 'Bru' 'Acc' 'Mle' 'Zrh' 'Dac' 'Trv' 'Mad' 'Lis' 'Cmn' 'Prg' 'Mla'
 'Eze' 'Ham' 'Nce' 'Bey' 'Ath' 'Gru' 'Amm' 'Dur' 'Cai' 'Ceb' 'Blq' 'Malta'
 'Dublin' 'Isb' 'Lisbon' 'Glasgow' 'Arla' 'Lys' 'Newcastle' 'Düsseldorf'
 'Larnaca' 'Hamburg' 'Durban' 'Casablanca' 'Zagreb' 'Amman' 'Athens'
 'Auckland / dubai' 'Basra' 'Lahore' 'Abuja' 'Istanbul' 'Venice'
 'Sao paulo' 'Dar es salaam' 'Cochi' 'Sulaymaniyah' 'Beirut' 'Prague'
 'St.petersburg' 'Riyadh' 'Faisalabad' 'Clark' 'Edinburgh' 'Brussels'
 'Addis ababa' 'Kozhikode' 'Tunis' 'Multan' 'Hydrabad' 'Port louis' 'Um'
 'Malé' 'Tehran' 'Sofia' 'Stansted' 'Wien' 'Lagos' 'Dushanbe' 'Begaluru'
 'Kabul' 'Sialkot' 'Dallas ft worth' 'Bishkek' 'Kyiv' 'Dallas fort worth'
 'Dubia' 'Tbilisi' 'Birmingham uk' 'Miami' 'Manchester uk' 'N dulles'
 'Tashkent' 'Seychelles' 'Aucklqnd' 'Ixc' 'Patna' 'Kempegowda' 'Kannur'
 'Chenai' 'Aizwal' 'Maldives' 'Re' 'Vtz' 'Ixz' 'Rajahmundry' 'Mangaluru'
 'Bhubabneswar' 'Dekhi' 'Bhagdogra' 'Kannaur' 'Tirupati' 'Osaka (itm)'
 'Khh' 'Han' 'Oit' 'Cts' 'Hel' 'Fuk' 'San' 'San diego' 'Nagoya' 'Gimhae'
 'Bho' 'Abudhabi' 'New dheli' 'Delhi igi' 'Ded' 'Ixe' 'Ixm' 'Jorhat'
 'Jodhpur' 'Baghdogra' 'Ulaanbaatar (mongolia)' 'Da nang' 'Se' 'Incheon'
 'Atl' 'Dfw' 'Rgn' 'Ntr' 'Tas' 'Nan' 'Las' 'Jeju' 'Nadi' 'Atlanta'
 'Seoul gimpo' 'Atambua' 'Bengkulu' 'Bangkok don muang' 'Medan' 'Kendari'
 'Jog' 'Sub' 'Bdj' 'Bdo' 'Lombok' 'Tkg' 'Surabaya' 'Palangkarya'
 'Ngurah rai' 'Penang' 'Padang' 'Gyakarta' 'Banjarmasin' 'Berau' 'Kuching'
 'Manado' 'Densepar' 'Batam' 'Tarakan' 'Kupang' 'Jayapura' 'Labuan bajo'
 'Krabi' 'Semarang' 'Bandar lampung' 'Bah' 'Philadelphia' 'Mia'
 'Istanbul (saw)' 'Doha airport' 'Kigali' 'Gyd' 'Edi' 'Ist' 'Syz' 'Los'
 'Osl' 'Sng' 'Phl' 'Mco' 'Cnb' 'Beg' 'Dwc' 'Sof' 'Txl' 'Taif' 'Alexandria'
 'Windhoek' 'Pnom penh' 'Tblisi' 'Melbourne australia' 'Berlin' 'Belgrade'
 'Bucharest' 'Helsinki' 'Kiev' 'Chennai return' 'Cardiff'
 'Hi chi minh city' 'Entebbe' 'Ankara' 'Gothenburg' 'Antalya'
 'St petersburg' 'Danang' 'Tallinn' 'Bermuda' 'Zanzibar' 'Sao paulo gru'
 'Yerevan' 'Keflavik' 'Lahore via \\doha' 'Medina' 'Mactan' 'Diha' 'Hamad'
 'São paulo' 'Salalah' 'London lhr' 'Hong' 'Mfco' 'Usm' 'Cbr' 'Zürich'
 'Bandar seri begawan' 'Singapore return' 'Singaporec' 'Canberra'
 'Thailand' 'Qingdoa' 'Makassar' 'Koh samui' 'Singaporw' 'Ixg' 'Dhm' 'Udr'
 'Ixb' 'Dibrugarh' 'Guwhati' 'Vijayawada' 'Hubli' 'Gorakhpur' 'Shirdi'
 'Kanpur' 'Kishangarh' 'Pondicherry' 'Jaisalmer' 'Jodphur' 'Jharsuguda'
 'Jabalpur' 'Ajmer' 'Durgapur' 'Dharamshala' 'Gwalior' 'Darbhanga'
 'Bengalurur' 'Mumbai (bom)' 'Dad' 'Pqc' 'Vca' 'Hue' 'Bkk return' 'Hui'
 'Ho chi mihh city' 'Chu lai' 'Thanh hoa' 'Ho chi min city' 'Ha noi'
 'Da lat' 'Pleiku city' 'Hai phong' 'Singapour' 'Dalat' 'Hanoï'
 'Chiang rai' 'Dong hoi' 'Hô chi minh' 'Cam ranh' 'Vinh city' 'Tainan'
 'Ho cho minh city' 'Pleiku' 'Tan son nhat' 'Surat thani'
 'Ho chi minh coty' 'Udon thani' 'Nakhon si thammarat' 'Chaing mai'
 'Hat yai' 'Can tho' 'Ho chi min' 'Hi chi min city' 'Hi chi minh'
 'Hi cho minh' 'Ho chi ming' 'Bhubaneshwar' 'Coichin' 'Pune, india' 'Mum']
Sentiment ['Negative' 'Positive']

## Questions for Data Analysis on Airline Reviews, Ratings and Sentiment (Dashboards)
> #### 1. What is the distribution of Seat_Comfort, Cabin_Service, Food_Bev, Entertainment, Ground_Service, and Value_for_Money of each Airline?
> #### 2. What is the distribution of Type of Traveller, Seat Type, Route, and Date Flown of each airline?
> #### 3. What is the distribution of Overall Rating of each airline?
> #### 4. What is the distribution of Sentiment of each airline?
> #### 5. What is the distribution of Overall Rating of each airline by Type of Traveller, Seat Type, Country, Airline ?

In [ ]:
fig = px.histogram(airline_df, x="Sentiment", color="Sentiment", title="Sentiment Distribution",labels={'Sentiment':'Sentiment','count':'Count'},barmode='group',width=800)
fig.show()

In [ ]:
# Sentiment of each airline
fig = px.histogram(airline_df, x="Airline", color="Sentiment",
                title="Airline Wise Sentiment Distribution",
                barmode='group', histfunc='count', height=650)
fig_widget = go.FigureWidget(fig)
fig_widget
fig.show()

In [ ]:
# Pie chart of sentiment distribution
for col in ["Seat Comfort",
        "Cabin Staff Service",
        "Food & Beverages",
        "Inflight Entertainment",
        "Ground Service",
        "Value for Money",
        "Sentiment",
    ]:
        plt.pie(airline_df[col].value_counts(), labels=airline_df[col].value_counts().index,autopct='%1.1f%%', shadow=True, startangle=90)
        plt.title(col)
        plt.axis('equal')
        plt.legend()
        plt.show()

In [ ]:
# Overall Rating of each airline
fig = px.histogram(airline_df, x="Airline", color="Overall_Rating", title="Airline Wise Overall Rating Distribution",barmode='group', histfunc='count', height=650) 
fig_widget = go.FigureWidget(fig)
fig_widget
fig.show()

In [ ]:
airline_df